.container{
    height: 350px;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    &:hover{
        //scale nous permet d'agrandire le container 
        transform: scale(1.03);
        transition: all 0.2s;
    }

}